body{
	text-align: center;
	background-image: url('sky.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1{
    
	font-size: 500%;
	font-family: Algerian;
	color: white;
}
p{
	font-family: Cooper black;
	color: white;
}
.movies img{
	width: 800px;
	height: 400px;
}

.step1 a
{
	text-decoration: none;
	text-align: center;	
	color: white;
	font-size: 30px;
	font-family:  Algerian;

}

.step1 a:hover
{
	border: solid white 2px;
}
